<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PF Projects Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="icon" type="image/png" href="../static/favicon.png">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Projects Dashboard</h1>
    </div>

    <!-- Tableau Embeds -->
    <div class="row container-fluid" id="project-metrics">
      <h2>Quick Metrics</h2>
      <div class="col-md-6 embed-responsive embed-responsive-4by3">
        <iframe
          src="https://10ay.online.tableau.com/t/projectfroganalytics/views/frog-project-dashboard/ProjectsbyPrototype?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link&:embed=true"></iframe>
      </div>
      <div class="col-md-6 embed-responsive embed-responsive-4by3">
        <iframe
          src="https://10ay.online.tableau.com/t/projectfroganalytics/views/frog-project-dashboard/ProjectCountbyStatus?:display_count=n&:showAppBanner=false&:origin=viz_share_link&:showVizHome=n&:embed=true"></iframe>
      </div>
    </div>
    <hr>
    <!-- Section for Map -->
    <div class="row container-fluid" id="map-dashboard">
      <h2>Project Map</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://10ay.online.tableau.com/t/projectfroganalytics/views/frog-project-dashboard/Map?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link&:embed=true"></iframe>
      </div>
    </div>
    <hr>
    <!-- Section for Market Data -->
    <div class="row container-fluid" id="market-dashboard">
      <h2>Lumber Index and $/bf</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://10ay.online.tableau.com/t/projectfroganalytics/views/frog-project-dashboard/MarketCorrelationLBS?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link&:embed=true"></iframe>
      </div>
    </div>
    <hr>
    <!-- Section for Calculator -->
    <div class="row" id="price-estimator">
      <h2>Cost Calculator</h2>
      <div class="col-md-6">
        <div class='form-group' data-toggle="tooltip" data-placement="top"
          title="Used for lumber index price (LBS). If date is in the future, today's price will be used.">
          <label for="date">Date</label>
          <input class='form-control' type="date" id='date'>
        </div>
        <div class='form-group'>
          <label for="prototype-prefix">Prototype</label>
          <select class="form-control" id='prototype-prefix'>
            <option>P12</option>
            <option>P13</option>
          </select>
        </div>
        <div class='form-group'>
          <label for="region">Region</label>
          <select class="form-control" id='region'>
            <option>Atlantic Region</option>
            <option>Midwest Region</option>
            <option>Northeast Region</option>
            <option>Southeast Region</option>
            <option>Southwest Region</option>
            <option>West Region</option>
          </select>
        </div>
        <div class='form-group'>
          <label for="vendor">Vendor</label>
          <select class="form-control" id='vendor'>
            <option>Golden State</option>
            <option>Mitsui</option>
            <option>Redbuilt</option>
            <option>SR Sloan</option>
            <option>Stark Truss</option>
          </select>
        </div>
        <div class="form-group">
          <label for='get-estimate-button'>Get Estimate</label>
          <div class='col-sm'>
            <!-- <form method='POST' action='/get-estimate'> -->
            <button id='submit-estimate-btn' type="submit" class='btn btn-primary' name='get-estimate'>Submit</button>
            <!-- </form> -->
          </div>
        </div> 
      </div>
      <div class='col-md-6'>
        <div class='form-group'>
          <label for="wall-panel-sqft-int">Est. <b>Interior</b> Wall Panel Sqft</label>
          <input type="number" class='form-control' id='wall-panel-sqft-int' value='0'>
        </div>
        <div class='form-group'>
          <label for="wall-panel-sqft-ext">Est. <b>Exterior</b> Wall Panel Sqft</label>
          <input type="number" class='form-control' id='wall-panel-sqft-ext' value='0'>
        </div>
        <div class='form-group'>
          <label for="sqft">Est. <b>Plan</b> Sqft</label>
          <input type="number" class='form-control' id='sqft' value='0'>
        </div>
        <div class='form-group'>
          <label for="algorithm">Algorithm</label>
          <select class="form-control" id='algorithm'>
            <option>KNNRegressor</option>
            <option>RandomForestRegressor</option>
            <option>LinearRegressor</option>
          </select>
        </div>
        <div class="form-group">
        <span class='border border-primary'>
          <label for='estimate-output'>Wall Panel Cost Per Elevation Sqft</label>
          <h3 id='estimate-output'></h3> 
        </span>
        </div>
      </div>
    </div>
      <hr>

      <!-- Section for Utilities -->
    <div class="row" id="data-utilities">
      <h2>Data Utilities</h2>

      <div class="col-sm-4">
        <form method="POST" action="/sync">
          <input class="btn btn-primary" type="submit" value="Sync Database" name="sync"
            title="Gets latest data from smartsheet (projects) and yahoo finance (lumber) and stores them in the database.">
        </form>
      </div>

      <div class="col-sm-4">
        <form method="POST" action="/deleteProjects">
          <input class="btn btn-danger" type="submit" value="Delete Projects" name="deleteProjects"
            title="Deletes all db rows from the Projects table. Required before sync if fields in existing projects must change." />
        </form>
      </div>
      <div class="col-sm-4">
        <form method="POST" action="/deleteLumber">
          <input class="btn btn-danger" type="submit" value="Delete Lumber Prices" name="deleteLumber"
            title="Deletes all db rows from the Lumber Index table." />
        </form>
      </div>
    </div> 
    <hr>
    <div class="row" id="ml-utilities">
      <h2>ML Utilities</h2>
      <div class="col-sm-4">
        <form method="POST" action="/train">
          <input class="btn btn-info" type="submit" value="Train Algorithms" name="train"
            title="Retrains all algorithms from database, then reports the scores of each.">
        </form>
      </div>
    </div>  
    <hr>
    <div class='row' id='output'>
      <h2>Utility Output</h2>
      <div class="form-row">
        <div class="col-auto">
          <textarea class='form-control col-md-12' id="sync-message">{{sync_message}}</textarea>
        </div>
      </div>
    </div>
</body>
<hr>
<footer>
  <p>Author: Johnny Buccola</p>
  <p>Original Completion Date: November 2021</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/js/events.js"></script>
</html>